.input {
  border: 1px solid rgba(240, 240, 240, 1);
  width: 285px;
  height: 50px;
  /* top: 584px;
  left: 339px;
  gap: 0px; */
  border-radius: 8px;
  border: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(240, 240, 240, 1);
  background: rgba(240, 240, 240, 1);
  padding-left: 1rem;
}
.input > span {
  margin-left: 2rem;
}

.input > input {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(171, 182, 199, 1);
  border: 1px;
  /* display: block; */
  background: transparent;
  height: 100%;
  width: 100%;
}
.input > input:focus {
  outline: none;
}
.disabled > input {
  /* border-right: 1px solid rgba(180, 180, 190, 0.3); */
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  padding: 1rem;
  width: 70px;
  margin-right: 0.5rem;
}
.slots {
  width: 84px;
  top: 19.57px;
  left: 146.65px;
  padding: 7px;
  gap: 0px;
  border-radius: 3px;
  border: 1px solid rgba(42, 167, 255, 1);
  /* text-align: center; */
  margin-top: 10px;
  margin-left: 30px;
}
input {
  border: 0;
  background: transparent;
}
