.input {
  width: 84px;
  top: 19.57px;
  left: 146.65px;
  padding: 7px;
  gap: 0px;
  border-radius: 3px;
  border: 1px solid rgba(42, 167, 255, 1);
  text-align: center;
  margin-top: 10px;
  margin-left: 30px;
  background: transparent;
  cursor: pointer;
}

.date {
  width: 128px;
  height: 32px;
  top: 63px;
  left: 623.55px;
  padding: 7px 6.55px 8px 11.45px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgba(0, 165, 0, 1);
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  text-align: center;
  color: rgba(0, 113, 0, 1);
}
.time {
  width: 84px;
  height: 31.59px;
  top: 63px;
  left: 525.55px;
  padding: 7px 10.96px 7.59px 11.44px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgba(42, 167, 255, 1);
  margin-right: 5px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  color: rgba(42, 167, 255, 1);
}
