.hospitalCard {
  width: 785px;
  height: 270px;
  margin-left: 110px;
  padding: 24px 0px 0px 0px;
  gap: 14px;
  border-radius: 15px;
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
  display: flex;
}
.leftContainer {
  width: 20%;
  padding: 2rem;
}
.circle {
  height: 124px;
  width: 124px;
  border-radius: 50%;
  background: rgba(140, 207, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.blueTick {
  position: relative;
  top: -40px;
  left: 105px;
}
.middleContainer {
  width: 50%;
}
.like {
  width: Hug (44.08px) px;
  height: Hug (22.5px) px;
  padding: 4.5px 7.49px 4px 10.8px;
  gap: 2.79px;
  border-radius: 3.5px;
  opacity: 0px;
  background: rgba(0, 165, 0, 1);
}
.rightContainer {
  width: 30%;
}
