.findBySpecialization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.findBySpecialization > p {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  text-align: center;
  color: rgba(27, 60, 116, 1);
}
.cards {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.wrapper {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
