.latestNews {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topContainer {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: rgba(42, 167, 255, 1);
}
.middleContainer {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  text-align: center;
  color: rgba(27, 60, 116, 1);
}
.bottomContainer {
  display: flex;
  gap: 2rem;
}
