.specialists {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
}
.specialists > p {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  text-align: center;
  color: rgba(27, 60, 116, 1);
}
.swiper {
  width: 100%;
  height: 80%;
}
.swiperSlideSpecialist {
  height: 60%;
  width: 100%;
  margin-bottom: 2rem;
}
